<div class="container">

    <h2>Partner Index</h2>

    <div class="row">

        {{!-- 
        {{#each allPartners}}

        <div class="col-md-6">
            <h4>Evento</h4>
            <h4>{{{this.name}}}</h4>
            <p>{{{this.id}}}</p>

        </div>

        <div class="column align-center">
            <div class="col-md-6">
                <a class="btn btn-block" href="TO-DO">Edit</a>
                <a class="btn btn-block btn-danger" href="TO-DO">Delete</a>
            </div>
        </div>

        {{/each}} --}}









        {{#each allPartnerEvents}}

        <div class="col-md-6">
            <h4>Evento</h4>
            <p>{{id}}</p>
            <h4>Partner</h4>
            <h4>{{{name}}}</h4>
            <p>{{{partner}}}</p>

        </div>

        <div class="column align-center">
            <div class="col-md-6">
                <a class="btn btn-block" href="TO-DO">Edit</a>
                <a class="btn btn-block btn-danger" href="TO-DO">Delete</a>
            </div>
        </div>

        {{/each}}
















    </div>



</div>